.btn {
  border-radius: 5px;
  border: 0;
  padding: 1.5rem 4rem;
  background: linear-gradient(to right, $dgreen -120%, $fstrgreen 130%);
  color: $white;
  font-weight: 500;
  font-size: 1.3rem;
  font-family: 'Averta';
  cursor: pointer;

  &:disabled {
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    background: linear-gradient(to right, $dgreen -20%, $fstrgreen 130%);
    box-shadow: 0 16px 39px -10px rgba(157, 203, 59, 0.3);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out;
  }
}

.btn-dark {
  border-radius: 5px;
  border: 0;
  padding: 1.5rem 4rem;
  background: $dgreen;
  color: $white;
  font-weight: 500;
  font-size: 1.3rem;
  font-family: 'Averta';
  cursor: pointer;

  &:disabled {
    opacity: 0.3;
  }

  &:focus {
    outline-color: $dgreen-light;
  }
}

.btn--link {
  background: transparent;
  color: $dgreen;
  padding: 0;

  &.--danger {
    color: $danger;
  }
}

.btn--border {
  border: 1px solid $dgreen;
  background: transparent;
  color: $dgreen;
  padding: 1.5rem 4rem;
}

.btn--icon {
  background: transparent;
  padding: 0;
  border: 0;
}

.btn--transparent {
  width: 100%;
  background-color: transparent;
  color: $white;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 1.5rem 4rem;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: 'Averta';
  cursor: pointer;

  &:disabled {
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    border: none;
    z-index: 1;
    background: linear-gradient(to right, $dgreen -120%, $fstrgreen 130%);
    box-shadow: 0 16px 39px -10px rgba(157, 203, 59, 0.35);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out;
  }
}