// FONT FAMILY **/
$font-family-base: "Averta", "Helvetica Neue", "Roboto", sans-serif;

// BREAKPOINTS **/
$breakpoint-tiny-screens: 375px;
$breakpoint-tablet: 600px;
$breakpoint-desktop: 1000px;

// COLORS **/
$fstrgreen: rgb(157, 203, 59);
$dgreen: rgb(52, 89, 72);
$dgreen-vlight: rgba(52, 89, 72, 0.1);
$green-dash: rgb(89, 156, 125);
$grey: rgb(74, 74, 74);
$grey-light: rgba(74, 74, 74, 0.3);
$grey-medium: rgba(74, 74, 74, 0.5);
$white: rgb(255, 255, 255);
$danger: rgb(255, 86, 97);
