.about__component {
  padding: 3rem 2rem;
  display: flex;
  background-color: transparent;
  flex-direction: column;

  .header {
    margin: 1rem 1rem;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $breakpoint-tablet) {
      margin: 1rem 7%;
    }

    @media (min-width: $breakpoint-desktop) {
      margin: 1rem 12%;
    }

    .line {
      background: $dgreen;
      height: 3px;
      width: 15%;
      margin: 1rem 0 3rem;

      @media (min-width: $breakpoint-desktop) {
        width: 7%;
      }
    }

    h1 {
      color: $dgreen;
    }

    p {
      font-size: 1.5rem;
      color: $grey-medium;
      letter-spacing: -0.5px;

      @media (min-width: $breakpoint-desktop) {
        font-size: 1.7rem;
      }
    }
  }

  // .section__content {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   padding-top: 2rem;

  //   @media (min-width: $breakpoint-tablet) {
  //     flex-direction: row;
  //     padding-top: 4rem;
  //   }

  //   @media (min-width: $breakpoint-desktop) {
  //     width: 75%;
  //     margin: 0 auto;
  //   }

  // }

  // article {
  //   text-align: center;
  //   padding: 3.5rem 0;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   align-self: stretch;

  //   img {
  //     width: 40%;
  //     margin: auto;
  //   }

  //   h3 {
  //     font-weight: 600;
  //     color: $dgreen;
  //     padding: 3rem 0 2rem;
  //     width: 60%;
  //     margin: 0 auto;
  //   }
  // }
}