.about__component {
  padding: 8rem 2rem 3rem;
  display: flex;
  background-color: transparent;
  flex-direction: column;

  @media (min-width: $breakpoint-tablet) {
    padding: 13rem 2rem 3rem;
  }

  .header {
    margin: 1rem 1rem;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $breakpoint-tablet) {
      margin: 1rem 7%;
    }

    @media (min-width: $breakpoint-desktop) {
      margin: 1rem 12%;
    }

    .line {
      background: $dgreen;
      height: 3px;
      width: 15%;
      margin: 1rem 0 3rem;

      @media (min-width: $breakpoint-desktop) {
        width: 7%;
      }
    }

    h1 {
      color: $dgreen;
    }

    p {
      font-size: 1.5rem;
      color: $grey-medium;
      letter-spacing: -0.5px;

      @media (min-width: $breakpoint-tablet) {
        width: 50%;
      }

      @media (min-width: $breakpoint-desktop) {
        font-size: 1.7rem;
      }
    }
  }

  .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    margin: 2rem auto;

    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
      width: 85%;
      padding-top: 3rem;
    }
    
    @media (min-width: $breakpoint-desktop) {
      width: 70%;
      margin: 0 auto;
    }
  
    .item{
      flex:0 0 23%;
      text-align: center;
      border-radius: 0.5rem;
      padding: 2rem;
      justify-content: space-between;

      h3 {
        font-weight: 600;

      }

      p {
        margin: 2rem 0;
        font-size: 1.5rem;
        color: $grey-medium;
        letter-spacing: -0.5px;
      }
    }
  }
}