.content {
  width: 90%;
  display: flex;
  flex-direction: column-reverse;
  margin: 3rem auto ;
  z-index: 1;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    justify-content: space-between;
    margin: 16rem auto 5rem;
  }
}

.contact__detail {
  text-align: center;

  @media (min-width: $breakpoint-tablet) {
    width: 35%;
    margin: 8rem 4rem 0 0;
    text-align: unset;
  }

  .contact__address {
    padding-bottom: 2rem;

    h5 {
      font-weight: 600;
    }

    p {
      color: #a8a8a8;
    }
  }

  .padding--top {
    padding-top: 2rem;
  }

  .contact__connect {
    padding-bottom: 2.5rem;

    span {
      font-weight: 600;
    }

    a {
      font-weight: 600;
      display: block;

      @media (min-width: $breakpoint-tablet) {
        display: unset;
      }
    }
  }

  .contact__social {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: 40px;
      margin-left: -10px;
    }

    @media (min-width: $breakpoint-tablet) {
      justify-content: unset;
    }
  }
}

.contact__form {
  margin: 0 auto 3rem;
  border-radius: 5px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 12px 50px 0 rgba(0, 0, 0, 0.15);
  z-index: 5;


  @media (min-width: $breakpoint-tablet) {
    margin: 0 auto;
    width: 60%;
    box-shadow: 0 -10px 100px rgba(101, 99, 99, 0.15);
  }

  @media (min-width: $breakpoint-desktop) {
    width: 40%;
  }

  .header {
    padding: 2rem;
    background: $fstrgreen-light;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    @media (min-width: $breakpoint-desktop) {
      padding: 3rem 4rem;
    }

    h3 {
      color: rgba(155, 155, 155, 1);
      font-weight: 500;
      letter-spacing: -1px;
    }
  }

  .main-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-desktop) {
      padding: 2rem 4rem;
    }
  }

  input {
    margin-bottom: 2rem;
  }

  button {
    width: 100%;
    margin-top: 2rem;
  }
}

.images {
  position: absolute;
  right: 0rem;

  @media (min-width: $breakpoint-tablet) {
    right: -6rem;
  }

  @media (min-width: $breakpoint-desktop) {
    right:  2rem;
  }

  img {
    width: 60rem;
    z-index: 1;
  }
}