main{
  padding: 8rem 2rem 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  @media (min-width: $breakpoint-tablet) {
    padding: 20rem 2rem 0;
    background: url('~@/assets/images/background-leaf.jpg');
    background-position: 4rem -5rem;
    // width: 40%;
    background-repeat: no-repeat;

    @media (min-width: $breakpoint-desktop) {
      background-position: 14rem -9rem;
    }
  }

  .section__header {
    margin: 1rem 1rem;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $breakpoint-tablet) {
      margin: 1rem 7%;
    }

    @media (min-width: $breakpoint-desktop) {
      margin: 1rem 12%;
    }

    .line {
      background: $dgreen;
      height: 3px;
      width: 15%;
      margin: 1rem 0 3rem;

      @media (min-width: $breakpoint-desktop) {
        width: 7%;
      }
    }

    h1 {
      color: $dgreen;
    }

    p {
      font-size: 1.5rem;
      color: $grey-medium;
      letter-spacing: -0.5px;

      @media (min-width: $breakpoint-desktop) {
        font-size: 1.7rem;
      }
    }
  }

  .content {
    width: 95%;
    margin: 3rem auto;
    z-index: 1;

    @media (min-width: $breakpoint-tablet) {
      padding: 0 4rem;
      max-height: 60rem;
      width: 100%;
      overflow-X: hidden;
      overflow-Y: auto;
    }
    
    @media (min-width: $breakpoint-desktop) {
      padding: 0 15rem;
    }

    section {
      display: flex;
      flex-direction: column;

      &:not(last-of-type) {
        margin-bottom: 3rem;
      }

      @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
        justify-content: space-between;

        &:not(last-of-type) {
          margin-bottom: 12rem;
        }
      }

      figure {
        @media (min-width: $breakpoint-tablet) {
          width: 60%;
        }

        img{
          width: 35rem;
          margin-left: -3rem;
          
          @media (min-width: $breakpoint-tablet) {
            margin: 0 -10rem 0 0;
            width: 45rem;
          }

          @media (min-width: 1200px) {
            width: 70rem;
          }
        }
      }

      article {

        @media (min-width: $breakpoint-tablet) {
          width: 40%;
        }

        section {
          display: flex;
          flex-direction: column;
        }

        p {
          color: $grey-medium;
          font-weight: 100;
          margin: 1rem 0 2rem;
        }
      }
    }
  }

  .images {
    display: none;

    @media (min-width: $breakpoint-tablet) {
      display: block;
      position: absolute;
      top: 160rem;
      left: -8rem;
      img {
        width: 45rem;
      }
    }

    @media (min-width: $breakpoint-desktop) {
      top: 175rem;
      left: -4rem;
      img {
        width: 55rem;
      }
    }

    @media (min-width: 1200px) {
      img {
        width: 57rem;
        z-index: -5;
      }
    }
  }
}