main{
  padding: 8rem 2rem 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-tablet) {
    padding: 30rem 2rem 0;
    background: url('~@/assets/images/background-leaf.jpg');
    background-position: -5rem -5rem;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .section__header {
    margin: 1rem 1rem;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $breakpoint-tablet) {
      margin: 1rem 7%;
    }

    @media (min-width: $breakpoint-desktop) {
      margin: 1rem 12%;
    }

    .line {
      background: $dgreen;
      height: 3px;
      width: 15%;
      margin: 1rem 0 3rem;

      @media (min-width: $breakpoint-desktop) {
        width: 7%;
      }
    }

    h1 {
      color: $dgreen;
    }

    p {
      font-size: 1.5rem;
      color: $grey-medium;
      letter-spacing: -0.5px;

      @media (min-width: $breakpoint-desktop) {
        font-size: 1.7rem;
      }
    }
  }

  .content{
    width: 95%;
    margin: 2rem auto;

    @media (min-width: $breakpoint-tablet) {
      max-height: 650px;
      overflow-y: auto;
      overflow: -moz-scrollbars-none;
      overflow-style: marquee,panner;
      -ms-overflow-style: none;
      width: 100%;
      margin: 0;
      padding: 2rem 8%;

      &::-webkit-scrollbar { 
        width: 0 !important 
      }
    }
    
    @media (min-width: $breakpoint-desktop) {
      padding: 2rem 12%;
    }

    section {
      display: flex;
      flex-direction: column;

      &:not(last-of-type) {
        margin-bottom: 3rem;
      }

      @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
        justify-content: space-between;

        &:not(last-of-type) {
          margin-bottom: 12rem;
        }
      }

      figure {
        @media (min-width: $breakpoint-tablet) {
          width: 60%;
        }

        img{
          width: 20rem;
          margin-left: 15%;
          
          @media (min-width: $breakpoint-tablet) {
            margin-left: 3rem;
            width: 100%;
          }
        }
      }

      article {

        @media (min-width: $breakpoint-tablet) {
          margin-top: 3rem;
          width: 40%;
        }

        section {
          display: flex;
          flex-direction: column;
        }

        p {
          color: $grey-medium;
          font-weight: 100;
          margin: 1rem 0 2rem;
        }
      }
    }
  }
}