main {
  width: 85%;
  margin: 3rem auto 1rem;
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: $breakpoint-tablet) {
    width: 90%;
    margin: 4rem auto;
    flex-direction: row
  }

  .main__section {
    @media (min-width: $breakpoint-tablet) {
      width: 70%;
      margin-right: 5rem;
    }

    h1 {
      margin-top: 2rem;
      color: $grey-medium;

      @media (min-width: $breakpoint-tablet) {
        margin-top: 0;
      }
    }
  }
  
  .sidebar {
    @media (min-width: $breakpoint-tablet) {
      width: 50%;
    }

    @media (min-width: $breakpoint-desktop) {
      width: 25%;
    }
  }
}

.payment__info{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: $green-dash;
  margin-top: 2rem;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 15px 0 rgba(52, 89, 72, 0.3);

  @media (min-width: $breakpoint-desktop) {
    margin-top: 3rem;
  }

  hr {
    width: 100%;
    opacity: 0.2;
    border: 1px solid $white;
  }

  .payment__blocks {
    padding: 2rem 2rem 1rem;

    p {
      display: flex;
      color: white;
    }
  
    .payment__options {
      font-size: 1.2rem;
      font-weight: 100;
      margin-bottom: 2rem;
    }
  
    .payment__value {
      font-weight: 600;
      font-size: 3rem;
    }
  }

  .payment__cta {
    text-align: center;
    color: white;
    font-weight: 600;
    padding: 1.5rem;
    cursor: pointer;
  }
}

.transaction__info{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #F7F7FF;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.03);

  @media (min-width: $breakpoint-desktop) {
    flex-direction: row;
    margin-top: 3rem;
  }

  .transaction__left {
    width: 30%;

    img {
      width: 5rem;

      @media (min-width: $breakpoint-desktop) {
        width: 3rem;
        margin: auto;
      }
    }

    @media (min-width: $breakpoint-desktop) {
      width: 10%;
    }
  }

  .transaction__right {
    display: flex;
    flex-direction: column;
    width: 65%;

    @media (min-width: $breakpoint-desktop) {
      flex-direction: row;
      width: 90%
    } 
  }

  .transaction__blocks {
    margin-bottom: 1.5rem;

    p {
      display: flex;
    }
    
    .transaction__title {
      font-weight: 40;
      color: $dgreen;
      font-size: 1.6rem;
    }

    .transaction__type {
      font-weight: 100;
      font-size: 1.5rem;
    }

    .transaction__options {
      font-size: 1.3rem;
      font-weight: 400;
      color: $grey-light;
    }
  
    .value {
      font-size: 1.6rem;
    }

    @media (min-width: $breakpoint-desktop) {
      margin-bottom: 0;

      &:first-of-type {
        width: 55%
      }

      &:nth-of-type(2) {
        margin-right: 5rem;
      }
    }
  }
}