header {
  background-image: url('~@/assets/images/maize-field.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;

  @media (min-width: $breakpoint-desktop) {
    background-position: center;
  }

  h2 {
    font-weight: 600;
    padding-bottom: 1rem;
    color: #fff;
    letter-spacing: -1.76px;
    font-size: 3.5rem;
    line-height: 1.2;

    @media (min-width: $breakpoint-desktop) {
      width: 60%;
      font-size: 5rem;
      padding-bottom: 3rem;
    }
  }

  h4 {
    color: $white;

    @media (min-width: $breakpoint-desktop) {
      font-size: 2rem;
    }
  }

  .c__overlay {
    background: rgba(52, 89, 72, 0.75);
    padding: 2rem;

    @media (min-width: $breakpoint-tablet) {
      padding: 9rem 2.5rem;
    }

    @media (min-width: $breakpoint-desktop) {
      padding: 10.5rem 2.5rem;
    }
  }

  .c__content {
    padding: 3rem 0;

    .mailing-list {
      margin: 5rem 0 0 0;

      p {
        color: $white;
        margin-bottom: 1.5rem;
      }

      input {
        display: block;
        margin-bottom: 2rem;

        @media (min-width: $breakpoint-desktop) {
          width: 40%;
        }
      }

      button {
        width: 100%;
        padding: 2rem;
        font-size: 1.5rem;
        font-weight: 600;

        @media (min-width: $breakpoint-desktop) {
          width: 40%;
        }
      }
    }

    @media (min-width: $breakpoint-tablet) {
      width: 65%;
    }

    @media (min-width: $breakpoint-desktop) {
      width: 92%;
      margin: auto;
      padding: 5rem 0;
    }
  }
}


